@tailwind base;
@tailwind components;
@tailwind utilities;

.toolbar-btn {
    @apply flex px-2 py-1 text-gray-600 bg-transparent rounded-lg text-sm items-center justify-center hover:bg-gray-200 active:bg-gray-300 transition;
  }

.editor-paragraph {
  margin: 0 0 16px 0;
  position: relative;
}


li::marker {
  color: var(--listitem-marker-color, inherit);
  background-color: var(--listitem-marker-bg, inherit);
  font-size: var(--listitem-marker-size);
}

.editor-list-ol {
  list-style-type: decimal;
  padding-left: 20px;
  margin: 0 0 16px 0;
}

.editor-list-ol li { /* 列表项之间的间距 */
  margin: 0 0 6px 0;
}

.editor-list-ul {
  list-style-type: disc;
  padding-left: 25px;
  margin: 0 0 16px 0; /* 上右下左 */
}

.editor-list-ul li { /* 列表项之间的间距 */
  margin: 0 0 6px 0;
}

.editor-bold {
  font-weight: bold;
}

.editor-italic {
  font-style: italic;
}

.editor-underline {
  text-decoration: underline;
}

.editor-strikethrough {
  text-decoration: line-through;
}

.editor-h1 {
    display: block;
    font-size: 2em;
    margin: 28px 0; 
    font-weight: bold;
    color: #008000;
}

.editor-h2 {
    display: block;
    font-size: 1.5em;
    margin: 22px 0; 
    font-weight: bold;
}

.editor-h3 {
    display: block;
    font-size: 1.17em;
    margin: 20px 0;
    font-weight: bold;
}