@tailwind base;
@tailwind components;
@tailwind utilities;

.toolbar-btn {
    @apply flex px-2 py-1 text-gray-700 bg-transparent rounded-lg text-sm items-center justify-center hover:bg-gray-200 active:bg-gray-300 transition;
  }

.editor-paragraph {
  margin: 0 0 15px 0;
  position: relative;
}

.editor-list-ol {
  list-style-type: decimal;
  padding-left: 20px;
}

.editor-list-ul {
  list-style-type: disc;
  padding-left: 25px;
}

.editor-bold {
  font-weight: bold;
}

.editor-italic {
  font-style: italic;
}

.editor-underline {
  text-decoration: underline;
}

.editor-strikethrough {
  text-decoration: line-through;
}

.editor-h1 {
    display: block;
    font-size: 2em;
    margin: 0.67em 0;
    font-weight: bold;
    color: #008000;
}

.editor-h2 {
    display: block;
    font-size: 1.5em;
    margin: 0.83em 0;
    font-weight: bold;
}

.editor-h3 {
    display: block;
    font-size: 1.17em;
    margin: 1em 0;
    font-weight: bold;
}